APP_URL=http://localhost
PORT=3000
NODE_ENV=development

# Auth
APP_SECRET=592d12d3e37cc68007aafdb23d12b3f6
TOKEN_LIFETIME=7d

# PostgreSQL
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

# Redis
REDIS_HOST=
REDIS_PORT=

# Mail
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
